.sponsor-item {
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.6; 
    transform: scale(0.9); 
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}
.sponsor-item img{
    width: 100%;
    height: auto;
}

 .activeTab {
    opacity: 1; 
    transform: scale(1.1); 
}
.sponsor-item h1{
    text-align: center;
}