.videos_grid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    width: 100%;
    padding: 50px 0;
    gap: 50px;
    margin: auto;
    
}
.videos_grid iframe{
    width: 90% !important;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
@media(max-width:1100px){
    .videos_grid{
        display: grid;
        grid-template-columns: 32% 32% 32%;
        gap: 20px;

    }
    .videos_grid iframe{
        width: 100% !important;
    }
}
@media(max-width:800px){
    .videos_grid{
        display: grid;
        grid-template-columns: 48% 48%;
        gap: 20px;

    }
}