.make_a_difference{
    background:linear-gradient(to bottom, var(--white), #FFE8E8);
    width: 100%;    
}
.make_a_difference .title{
    text-transform: uppercase;
    padding: 60px 0 40px 0;
    text-align: center;
}
.make_a_difference .title h1{
    color: var(--orange);
    font-size: 68px;
}
.make_a_difference .title h2{
    color: var(--pruple);
    font-size: 50px;
}

.make_a_difference_grid{
    display: grid;
    grid-template-columns: 47% 47%;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 50px;
}
.make_a_difference_box{
    width: 100%;

}
.make_a_difference_box_image{
    width: 100%;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}
.make_a_difference_box_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: 0.5s ease;
}
.make_a_difference_box_image img:hover{
    transform: scale(1.1);
}
.make_a_difference_box_content p{
    color: var(--pruple);
}
.make_a_difference_box_content h2{
    color: var(--pruple);
    padding: 20px 0;

}
.make_a_difference_box_grid{
    margin-bottom: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
}
.make_a_difference_box_image_second{
    width: 100%;
    height: 250px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
.make_a_difference_box_image_second img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 0.5s ease;
}
.make_a_difference_box_image_second img:hover{
    transform: scale(1.1);
}
@media(max-width:900px){
    .make_a_difference_grid{
        grid-template-columns: 80%;
        justify-content: center;
    }
    .make_a_difference_box,.make_a_difference_box_grid{
        margin-bottom: 50px;
    }
    .make_a_difference_box_content h2{
        font-size: 23px;
    }
}
@media(max-width:750px){
    .make_a_difference_grid{
        grid-template-columns: 100%;
        justify-content: center;
    }
}

@media(max-width:600px){
    .make_a_difference_grid,.make_a_difference_box_grid{
        grid-template-columns: 100%;
    }
    .make_a_difference_box,.make_a_difference_box_grid{
        margin-bottom: 50px;
    }
    .make_a_difference_grid{
        padding-bottom: 0px !important;
    }
    .make_a_difference .title h1{
        color: var(--orange);
        font-size: 48px;
    }
    .make_a_difference .title h2{
        color: var(--pruple);
        font-size: 35px;
    }
    .make_a_difference_box_content h2{
        font-size: 20px;
    }
    .make_a_difference_box_image_second{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 20px;
    }
    .make_a_difference_box_image_second img{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 20px;
    }
}
@media(max-width:500px){
    .make_a_difference .title h1{
        color: var(--orange);
        font-size: 38px;
    }
    .make_a_difference .title h2{
        color: var(--pruple);
        font-size: 30px;
    }
}