.navbar {
    background: linear-gradient(to bottom,  var(--white), #ffe8e8);;
    transition: top 0.3s ease-in-out; 
    width: 100%;
    position: sticky;
    top: 0; 
    z-index: 1000; 
  }
  .liActive{
    font-weight: 600 !important;
  }

.nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_menu .logo{
    width: 110px;
    height: auto;
}
.nav_menu .logo img{
    width: 100%;
    height: auto;
}
.nav_menu .menu ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav_menu .menu ul li{
    list-style: none;
    font-weight: 500;
    font-size: 20px;
}
.dropdownMenu {
    display: flex;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    position: relative;
}
.dropdownMenu span{
    margin-top: 5px;
}
.dropdownMenu:hover .submenu{
    display: block;
}
.submenu{
    position: absolute;
    top: 40px;
    left: 0;
    width: 120%;
    display: none;

}
.submenu li{
    padding: 15px 0px 15px 10px;
    background: var(--white);
    border-bottom: 1px solid grey;
    transition: 0.5s ease;
}
.submenu li:hover{
    font-weight: 600 !important;    
}
@media (max-width:1000px){
    .nav_menu .menu ul{
        gap:20px;
        
    }
}
@media (max-width:900px){
    .navbar, .topnav{
        display: none;
    }
}
