@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Instrument+Sans:ital,wdth,wght@0,75..100,400..700;1,75..100,400..700&family=Squada+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "mr-eaves-modern", sans-serif;
  }
  Link, a, button{
    cursor: pointer;
    color: var(--pri_text);
    text-decoration: none;
  }
  :root{
    --black:#000;
    --white:#ffffff;
    --blue:#5BCEFA;
    --orange:#FF9B56;
    --deep_pink:#D62E3F;
    --pruple:#A30262;
    --blue_purple:#0038A8;

  }
  h1,h2,h3,h4,h5,p{
    color: var(--pri_text);
  }
  .container{
    margin: auto;  
  }
  body {
    scrollbar-width: 2px;
    scrollbar-color:var(--sec_dark) var(--pri_color);
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;    
  }
  @media (min-width: 601px) and (max-width: 1300px) {
    .container {
      max-width: 90%;
    }
  }
  
  @media (min-width: 1301px) {
    .container {
      max-width: 1300px;
    }
  }

  /* For WebKit browsers */
::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
    border: none;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  /* For Firefox */

